# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:  
1. Python
2. R
3. Sql
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:  
1. numpy
2. pandas
3. matplotlib
4. seaborn
5. tensorflow
6. Pytorch
7. Sciki-learn

| Data Science Tools |
|--------------------|
|   JupyterNotebook  |
|   Rstudio          |
|   Github           |

### Below are a few examples of evaluating arithmetic expressions in Python  
| expression | example |
|------------|---------|
| addition   |   1 + 4 |
| substraction | 5 - 2 |
| Multiplication | 8 * 7 |
| Division | 25 / 5 |
| reminder | 10 % 2 |
| exponent | 4 ** 3 |

In [2]:
# This a simple arithmetic expression to mutiply then add integers
print((3 * 4) + 5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = round( minutes / 60, 2)
print(hours)

3.33

**Objectives:**  
- List of Popular languages for data science
- List of popular libraries for data science
- Examples for Arithmatic expression in python
- A code to multiply then add integers
- A code to convert minutes to hours

## Author  
Mohamed Ayman